@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | WriteNote</title>
    <meta name="description" content="Writenote là ứng dụng giúp sắp xếp ghi chú của bạn một cách ngăn nắp. Ghi chú được đồng bộ hóa, có thể tìm kiếm được và có thể truy cập ở khắp nơi, nhờ đó bạn có thể dễ dàng tìm thấy những gì bạn cần. Tìm hiểu thêm!">
    <meta name="keywords" content="">
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/sweetalert2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/truong.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/floatinglabel.css")" rel="stylesheet" />
</head>
<body class="text-center">
    <div class="container">
        <div class="signin-content">
            <div class="header">
                <div class="logo">
                    <img src="@Url.Content("~/Content/img/logo.png")" alt="Writenote" />
                </div>
                <p class="tagline">Xác thực Email</p>
            </div>
            <form class="form-signin" onsubmit="return false;">
                <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email" autofocus="">
                    <label for="inputEmail">Email</label>
                </div>
                <button class="btn btn-lg btn-block btn-outline-success" id="send-code">Gửi mã xác nhận</button>
            </form>
            <div class="signup">
                <div class="context-switch-signup">
                    Bạn đã có tài khoản?
                </div>
                <div class="signup-context">
                    @Html.ActionLink("Đăng nhập", "Login", "Account", null, new { @class = "button-outline" })
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Content/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/Content/js/function.js")"></script>
    <script>
        $(document).ready(function () {
            deleteSomee();
            const wrapper = $(".form-signin>.form-label-group");
            const inputEmail = $("input[type='email']");

            $('button#send-code').on("click", function (e) {
                e.preventDefault();
                if (inputEmail.val().length == false) {
                    $(wrapper).find(".animate-alert").remove();
                    errMess("inputEmail", "Bạn chưa nhập Email.");
                    return false;
                }
                else if (IsEmail(inputEmail.val()) == false) {
                    $(wrapper).find(".animate-alert").remove();
                    errMess("inputEmail", "Email không hợp lệ.");
                    return false;
                }
                else {
                    $(wrapper).find(".animate-alert").remove();
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '/Account/ForgotPassword',
                        data: { Mail: inputEmail.val() },
                        beforeSend: function () {
                            swal({
                                text: "Đang gửi mail ...",
                                onOpen: () => {
                                    swal.showLoading()
                                }
                            })
                        },
                        success: function (response) {
                            if (response.status == true) {
                                Swal.fire({
                                    position: 'center',
                                    type: 'success',
                                    title: 'Mã xác nhận đã được gửi đi',
                                    showConfirmButton: false,
                                    timer: 1000
                                }).then(function () {
                                    window.location.href = '/Account/ChangePassword'
                                })
                            }
                            else {
                                Swal.fire({
                                    position: 'center',
                                    type: 'error',
                                    title: 'Email không tồn tại trên hệ thống',
                                    showConfirmButton: false,
                                    timer: 1000
                                })
                            }
                        },
                        error: function () {
                            Swal.fire({
                                position: 'center',
                                type: 'error',
                                title: 'Có lỗi, vui lòng thử lại...',
                                showConfirmButton: false,
                                timer: 1000
                            })
                        }
                    });
                    return false;
                }
            })
        })
    </script>
</body>
</html>